{%extends "base.html"  %}

<hr>
{% block title %}www.hqhair.com/purchase-page{% endblock %}

{% block content %}
<hr>
        <h3 align="center" class="blue_text paletur_bg box01"> HQhair Warehouse Management System - Purchase Form </h3></p>
        <hr>
        <form action="add-product" method="POST">
            <div align="center"class="container">
            <div class="column col-2">
                <div class="form-group">
                        <label class="form-label" for="input-example-1">Product Name</label>
                        <input class="form-input" type="text" id="input-example-1" placeholder="Name" name="Product Name">
                        <label class="form-label" for="size-input">Size</label>
                        <input class="form-input" type="number" id="input-example-1" placeholder="0" min="0" name="Size">
                        <label class="form-label" for="price-input">Unit Price</label>
                        <input class="form-input" type="number" id="input-example-1" placeholder="0" min="0" name="Unit Price">
                        <label class="form-label" for="qty-input">Quantity</label>
                        <input class="form-input" type="number" id="qty-input" placeholder="0" min="0" name="Quantity">
                </div>
            <input type="submit" value="Submit">
        </form>
           
        
        <tbody align="center">
    </table>

        </tr>
        
        </tr>
            
{% endblock %}